// ==========================================================================
// Colors
// ==========================================================================
$main-color: #65bad3;
$default-color: #fff;
$secundary-color: #284a54;
$bg-color: #f4f4f4;